<div class="container">
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">New Folder</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Enter File name</h4>
        </div>
        <div class="modal-body">
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary">
          </div>
        </div>

      </div>

    </div>
  </div>

</div>